body{
  background-color: lightcyan;
}
#landing header{
  height: 250px;
  width: 1350px;
  background-color:white ;
}

#landing .hed {
  display: grid;
  column-gap: 50px;
  grid-template-columns: auto auto auto;
  
  padding: 10px;
}

#landing .logo {
  
  
  padding: 20px;
  font-size: 30px;
  text-align: center;

}
#landing .h{
  text-align: center;
  padding-top: 125px;
  color: deepskyblue;
  font-size: 45px;
}
#landing .h3{
  text-align: center;
  color: skyblue;
  font-size: 35px;
  padding-top: 25px;
}
#landing .p{
  font-family: serif;
  color: green;
  font-size: 30px;

}
#landing .nir{
  float: right;
  padding-right: 20px;
  padding-top: 5px;
}
#landing .nir h2{
  text-align: center;
  color: red;
}
#landing .nir1{
  float: left;
  padding-left: 5px;
  padding-top: 5px;
}
#landing .nir1 img{
  padding-left: 70px;
}
#landing .nir1 h2{
  text-align: center;
  color: blueviolet;
}
#landing footer{
  height: 80px;
  width: 1350px;
  background-color: black;
}